<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <title>Swagger - cfgov-refresh</title>
    
    

    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/syntax.css">
    

    <style type="text/css">
        
        .sidebar-nav a:hover,
        .sidebar-nav a:focus,
        .sidebar-nav a:active,
        .sidebar-nav a.sidebar-nav-active {
            border-left-color: #2CB34A;
        }
        header {
            border-bottom-color: #2CB34A;
        }
        
        

        
    </style>


    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script src="../js/respond.min.js"></script>
    <![endif]-->
    <script src="../dist/swagger-editor-bundle.js"></script>
    <script src="../dist/swagger-editor-standalone-preset.js"></script>
    <script src="../dist/swagger-editor.js"></script>
    <script src="../dist/validation.worker.js"></script>
    <script src="../scripts/scripts/linenumber.js"></script>
    <script src="../scripts/scripts/prettify/lang-css.js"></script>
    <script src="../scripts/scripts/prettify/prettify.js"></script> 
</head>

<body>

    <div class="container">
        <header role="banner">
            <div class="wrap">
                
                <img class="logo" src="https://cfpb.github.io/img/logo_210.png" alt="Consumer Financial Protection Bureau">
                
                <h1 class="site-title"><a class="title-link" href="../">cfgov-refresh</a></h1>
            </div>
        </header>

        <div class="wrap content">
            <aside>
                <nav class="sidebar-nav" role="navigation">
                    <ul>
                        
                        <li>
                            
                            <a href=".." class="">Introduction</a>

                            
                        </li>
                        
                        <li>
                            
                            <a href="../installation/" class="">Installation</a>

                            
                        </li>
                        
                        <li>
                            
                            <a href="../usage/" class="">Usage</a>

                            
                        </li>
                        
                        <li>
                            
                            <span>APIs</span>
                            <ul class="secondary-nav">
                                
                                <li>
                                    <a href="../ask-cfpb/" class="">Ask cfpb</a>
                                </li>
                                
                                <li>
                                    <a href="../consumer-complaint-database/" class="">Consumer complaint database</a>
                                </li>
                                
                                <li>
                                    <a href="./" class="sidebar-nav-active">Swagger</a>
                                </li>
                                
                            </ul>
                            
                        </li>
                        
                        <li>
                            
                            <span>Building and Deploying for cf.gov</span>
                            <ul class="secondary-nav">
                                
                                <li>
                                    <a href="../whats-new/" class="">What's new</a>
                                </li>
                                
                                <li>
                                    <a href="../new-projects/" class="">New projects</a>
                                </li>
                                
                                <li>
                                    <a href="../branching-merging/" class="">Branching and merging</a>
                                </li>
                                
                                <li>
                                    <a href="../release-cadence/" class="">Release cadence</a>
                                </li>
                                
                                <li>
                                    <a href="../deployment/" class="">Deployment</a>
                                </li>
                                
                                <li>
                                    <a href="../feature-flags/" class="">Feature flags</a>
                                </li>
                                
                            </ul>
                            
                        </li>
                        
                        <li>
                            
                            <span>Back-end guidelines</span>
                            <ul class="secondary-nav">
                                
                                <li>
                                    <a href="../wagtail-migrations/" class="">Wagtail and Django migrations</a>
                                </li>
                                
                                <li>
                                    <a href="../django-to-wagtail/" class="">Wagtail Pages vs Django views</a>
                                </li>
                                
                                <li>
                                    <a href="../testing-be/" class="">Testing</a>
                                </li>
                                
                                <li>
                                    <a href="../translation/" class="">Translation</a>
                                </li>
                                
                                <li>
                                    <a href="../caching/" class="">Caching</a>
                                </li>
                                
                            </ul>
                            
                        </li>
                        
                        <li>
                            
                            <span>Front-end guidelines</span>
                            <ul class="secondary-nav">
                                
                                <li>
                                    <a href="../atomic-structure/" class="">Atomic structure and design</a>
                                </li>
                                
                                <li>
                                    <a href="../testing-fe/" class="">Testing</a>
                                </li>
                                
                            </ul>
                            
                        </li>
                        
                        <li>
                            
                            <a href="../development-tips/" class="">Development tips</a>

                            
                        </li>
                        
                    </ul>
                </nav>
            </aside>

            <section id="main" class="main-content" role="main">
                <h1>{{ page.title }}</h1>

<p>{{ content }}</p>
<p>{% if page.data %}
{% assign swagger = site.data[page.data] %}
{% else %}
{% assign swagger = page %}
{% endif %}</p>
<p>{% for route in swagger.paths %}
<div class="swagger-paths">
    <h2 class="swagger-path">{{ route[0] }}</h>
    {% for method in route[1] %}
    <div class="swagger-method swagger-method-{{ method[0] }}">
        <h3 class="swagger-method-title">
            <a href="#" class="swagger-method-link">
                <span class="swagger-method-name">{{ method[0] | upcase }}</span>
                {{ method[1].summary }}
            </a>
        </h3>
        <div class="swagger-method-details">
            {% if method[1].parameters %}
            <div class="swagger-parameters">
                <h4>Parameters</h4>
                <table class="swagger-parameters-table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Located in</th>
                            <th>Description</th>
                            <th>Type</th>
                        <tr>
                    </thead>
                    <tbody>
                        {% for parameter in method[1].parameters %}
                        <tr>
                            <td>
                                {% if parameter.required %}
                                <span class="swagger-parameter-required">
                                {% endif %}
                                {{ parameter.name }}
                                {% if parameter.required %}
                                </span>
                                {% endif %}
                            </td>
                            <td>{{ parameter.in }}</td>
                            <td>{{ parameter.description }}</td>
                            <td>
                                {% if parameter.type %}
                                {{ parameter.type | capitalize }}
                                {% if parameter.items %}
                                of {{ parameter.items.type | capitalize }}
                                {% endif %}
                                {% else %}
                                String
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
            {% if method[1].responses %}
            <div class="swagger-response">
                <h4>Responses</h4>
                {% for response in method[1].responses %}
                <h5>
                    <span class="swagger-response-code">{{ response[0] }}</span>
                    {{ response[1].description }}
                </h5>
                {% for content_type in swagger.produces %}
                    {% if response[1].examples[content_type] %}
                        {% assign example = response[1].examples[content_type] %}
                        {% if content_type contains 'json' %}
                            {% highlight json %}{{ example }}{% endhighlight %}
                        {% elsif content_type contains 'xml' %}
                            {% highlight xml %}{{ example }}{% endhighlight %}
                        {% else %}
                            {% highlight http %}{{ example }}{% endhighlight %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endfor %}</p>
<script type="text/javascript">
// Helpers

var slice = Array.prototype.slice;

function $(expr, parent) {
    return typeof expr === "string" ? (parent || document).querySelector(expr) : expr || null;
}

function $$(expr, parent) {
    return slice.call((parent || document).querySelectorAll(expr));
}

$.bind = function(element, o) {
    if (element) {
        for (var event in o) {
            var callback = o[event];

            event.split(/\s+/).forEach(function (event) {
                element.addEventListener(event, callback);
            });
        }
    }
};

$.toggleDetails = function (element) {
    if (element.classList.contains('open')) {
        element.classList.remove('open');
    }
    else {
        element.classList.add('open');
    }
}

// Initialization

function init() {
    $$('.swagger-method-title').forEach(function (title) {
        $.bind(title, {
            'click': function (e) {
                var details = $('.swagger-method-details', title.parentNode)
                $.toggleDetails(details);
                e.preventDefault();
            }
        });
    });
}


// DOM already loaded?
if (document.readyState !== "loading") {
    init();
}
else {
    // Wait for it
    document.addEventListener("DOMContentLoaded", init);
}
</script>
            </section>
        </div>

        <footer role="contentinfo">
            <div class="wrap">
                This project is maintained by <a href="https://cfpb.github.io">The Consumer Financial Protection Bureau</a>.

                <p>Hosted on <a href="http://pages.github.com/">GitHub Pages</a>.</p>
            </div>
        </footer>
    </div>
</body>
</html>
